body {
  width: 960px; margin: 0 auto;
  background-color: #222; }
<<<<<<< HEAD
}
=======
>>>>>>> c07426c141a8f416806249aadf1728a45d40558c

.image {
  position: relative;
  width: 100%; }

img {
  width: 100%; }

/* Texts */
h1, h2, h3, h4, p {
  color: #fff;
  font-family: Helvetica, Sans-Serif; }

h4 {
  position: absolute;
  right:  -10px;
  bottom: 175px;
  width: 100%; }

h4 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px; }

hr {
  color: #eee;
  border-style: solid; }

  video {
    width:100%;
  }

  .fake_img{
    display:inline-block;
    margin:5px 20px;
    padding:5px;
    max-width: 50px;
}

.videoContainer{
  text-align:center;
}