body {
<<<<<<< HEAD
  width: 960px; 
  margin: 0 auto;
=======
  width: 960px; margin: 0 auto;
>>>>>>> aed04f864eb7f09a12fe0c58ef396c3806f88f6c
  background-color: #222;
}

.image {
  position: relative;
  width: 100%; }

img {
  width: 100%; }

/* Texts */
h1, h2, h3, h4, p {
  color: #fff;
  font-family: Helvetica, Sans-Serif; }

h4 {
  position: absolute;
<<<<<<< HEAD
  right:  -10px;
=======
  left: 250px;
>>>>>>> aed04f864eb7f09a12fe0c58ef396c3806f88f6c
  bottom: 100px;
  width: 100%; }

h4 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px; }

hr {
  color: #eee;
  border-style: solid; }

  video {
    width:100%;
  }

  .fake_img{
    display:inline-block;
    margin:5px 20px;
    padding:5px;
    max-width: 50px;
}

.videoContainer{
  text-align:center;
}