body {
  width: 960px; margin: 0 auto;
  background-color: #222; }

.image {
  position: relative;
  width: 100%; }

img {
  width: 100%; }

/* Texts */
h1, h2, h3, h4, p {
  color: #fff;
  font: bold 24px/45px Helvetica, Sans-Serif; }

h4 {
  position: absolute;
  right:  -10px;
  bottom: 175px;
  width: 100%; }

h4 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px; }

hr {
  color: #eee;
  border-style: solid; }

  video {
    width:100%;
  }
